html {
    background-color: var(--window-color);
    color: var(--result-text-color);
}
body {
    display: flex;
    flex-direction: row;
}
.column {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-bottom: 150px;
}
.cell {
    width: 94%;
    padding: 3%;
    opacity: 0.4;
}
.cell.active {
    background-color: var(--result-backgroundSelected);
    opacity: 1;
}
footer {
    background-color: var(--result-backgroundSelected);
    box-shadow: 0px -6px 20px 0px rgba(0,0,0,0.8);
    color: var(--result-text-colorSelected);
    font-family: -apple-system;
    text-align: center;
    position: fixed;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    left: 0px;
    bottom: 0px;
    width: 100%;
}
footer span {
    display: block;
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
}
#credits {
    font-size: 70%;
    margin-top: 3px;
    opacity: 0.7;
}
